.App {
  text-align: center;
}
.game-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 304px;
  border: 2px solid;
}
.box-item {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  cursor: pointer;
}
.box-item:nth-child(3n + 2) {
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-left: 2px solid;
}
.box-item:nth-child(3n + 1),
.box-item:nth-child(3n + 3) {
  border-bottom: 2px solid;
}

.box-item:nth-child(n + 7) {
  border-bottom: 0px solid;
}
.user-1 {
  background-color: rgb(250, 40, 40);
}
.user-2 {
  background-color: rgb(87, 202, 87);
}
.userWinInfo {
  position: absolute;
  width: 300px;
  background: #cbcbcb;
  padding: 20px;
  left: calc(50% - 170px);
  top: 180px;
}
.resetBtn {
  padding: 7px;
  border-radius: 5px;
  background: green;
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
}
.win-details {
  font-weight: 600;
}
.pages-link {
  margin-right: 10px;
}
.snak-ladder-game {
  position: relative;
}
.snak-ladder-game .User {
  border: 2px solid #fff;
  border-radius: 50%;
}
.snak-ladder-game .diseArea {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 45%;
}

.User {
  position: absolute;
  transition: all 2s ease;
}

.snak-ladder-game .ts-0 {
  bottom: 13px;
}
.snak-ladder-game .ts-1 {
  bottom: 63px;
}
.snak-ladder-game .ts-2 {
  bottom: 113px;
}
.snak-ladder-game .ts-3 {
  bottom: 163px;
}
.snak-ladder-game .ts-4 {
  bottom: 213px;
}
.snak-ladder-game .ts-5 {
  bottom: 263px;
}
.snak-ladder-game .ts-6 {
  bottom: 313px;
}
.snak-ladder-game .ts-7 {
  bottom: 363px;
}
.snak-ladder-game .ts-8 {
  bottom: 413px;
}
.snak-ladder-game .ts-9,
.snak-ladder-game .ts-10 {
  bottom: 463px;
}

.snak-ladder-game .ls-1,
.snak-ladder-game .ls-10 {
  left: 10px;
}
.snak-ladder-game .ls-2 {
  left: 63px;
}
.snak-ladder-game .ls-3 {
  left: 113px;
}
.snak-ladder-game .ls-4 {
  left: 163px;
}
.snak-ladder-game .ls-5 {
  left: 213px;
}
.snak-ladder-game .ls-6 {
  left: 263px;
}
.snak-ladder-game .ls-7 {
  left: 313px;
}
.snak-ladder-game .ls-8 {
  left: 363px;
}
.snak-ladder-game .ls-9 {
  left: 413px;
}
.snak-ladder-game .ls-0 {
  left: 463px;
}

.snak-ladder-game .rs-1 {
  right: 10px;
}
.snak-ladder-game .rs-2 {
  right: 63px;
}
.snak-ladder-game .rs-3 {
  right: 113px;
}
.snak-ladder-game .rs-4 {
  right: 163px;
}
.snak-ladder-game .rs-5 {
  right: 213px;
}
.snak-ladder-game .rs-6 {
  right: 263px;
}
.snak-ladder-game .rs-7 {
  right: 313px;
}
.snak-ladder-game .rs-8 {
  right: 363px;
}
.snak-ladder-game .rs-9 {
  right: 413px;
}
.snak-ladder-game .rs-0 {
  right: 463px;
}
.userPointItem {
  padding: 8px;
}
.DiseOn {
  width: 80px;
  height: 80px;
  object-fit: cover;
  background-image: url("./Assets/dise-images.png");
  background-size: 470px;
  border-radius: 30px;
}
.dishWrapperBox {
  position: absolute;
  top: 220px;
  left: 135px;
  padding: 30px;
  background: #fff;
}
.dis-1 {
  background-position: 1px -76px;
}
.dis-2 {
  background-position: -76px -76px;
}
.dis-3 {
  background-position: -156px -76px;
}
.dis-4 {
  background-position: -235px -76px;
}
.dis-5 {
  background-position: -313px -76px;
}
.dis-6 {
  background-position: -391px -76px;
}
