.App {
  text-align: center;
}
.game-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  border: 2px solid;
}
.box-item {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  cursor: pointer;
}
.box-item:nth-child(3n + 2) {
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-left: 2px solid;
}
.box-item:nth-child(3n + 1),
.box-item:nth-child(3n + 3) {
  border-bottom: 2px solid;
}

.box-item:nth-child(n + 7) {
  border-bottom: 0px solid;
}
.user-1 {
  background-color: rgb(250, 40, 40);
}
.user-2 {
  background-color: rgb(87, 202, 87);
}
.userWinInfo {
  position: absolute;
  width: 300px;
  background: #cbcbcb;
  padding: 20px;
  left: calc(50% - 170px);
  top: 180px;
}
.resetBtn {
  padding: 7px;
  border-radius: 5px;
  background: green;
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
}
.win-details {
  font-weight: 600;
}
.pages-link {
  margin-right: 10px;
}
